
  <div class='row footer_div footer'>

    <div class="col-md-6 col-sm-6 col-lg-4">
        <h4>About us</h4>
        <p>We are non-profit organization</p>
     </div>
    <div class="col-md-6 col-sm-6 col-lg-4">
        <h4>Subscribe us</h4>
     </div>
    <div class="col-md-6 col-sm-6 col-lg-4">
        <h4>Follow us</h4>
     </div>

  </div>

  <div class="progressContainer"><div id="progress" class="progress"></div></div>

  </body>




</html>
