<% include partials/header.ejs %>

<div class="about">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis ex dolor, eleifend commodo sapien vulputate et. Nullam sagittis urna massa. Curabitur efficitur lacus in urna elementum, eu bibendum velit efficitur. Integer nec quam imperdiet, facilisis sem nec, luctus sapien. Vestibulum at tellus ac ipsum consectetur mattis pretium quis turpis. Aliquam ornare orci velit, nec consectetur odio consequat eu. Quisque posuere metus vitae metus molestie dapibus. In et vestibulum ligula. Curabitur fringilla venenatis massa vel ultricies.
</div>
<% include partials/footer.ejs %>
