<% include partials/header.ejs %>

    <div class='main_div'>
      <img src='/images/cake1.jpg'>
    </div>
    <div class="row describe_div ">
      <div class="col-md-1 col-lg-3 animated bounceInUp">Register and publish your recipe</div>
      <div class="col-md-1 col-lg-3">Register and publish your recipe</div>
      <div class="col-md-1 col-lg-3">Register and publish your recipe</div>
      <div class="col-md-1 col-lg-3">Register and publish your recipe</div>
    </div>

    <div class='row category_div'>
      <div class="col-md-12 col-lg-12 category_title">Categories of available items</div>

      <div class="col-md-6 col-sm-6 col-lg-3">
         <img src='/images/egg.jpg'  class='img-circle'>
         <h4>Egg</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
         </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <img src='/images/fish.jpg' class='img-circle'>
        <h4>Fish</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
         <img src='/images/pear.jpg' class='img-circle'>
         <h4>Pear</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently  </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
         <img src='/images/coffee.jpg' class='img-circle'>
         <h4>Coffee</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
      </div>
    </div>
    <div class='row blog_div'>
      <div class="col-md-12 col-lg-12 category_title">Read the latest recipes</div>

      <div class="col-md-6 col-sm-6 col-lg-4">
         <img src='/images/coffee.jpg' class='img-circle'>
         <h4>Coffee</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-4">
         <img src='/images/coffee.jpg' class='img-circle'>
         <h4>Coffee</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-4">
         <img src='/images/coffee.jpg' class='img-circle'>
         <h4>Coffee</h4>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
      </div>

    </div>

<% include partials/footer.ejs %>
