<% include partials/header.ejs %>

  <div class="login-buttons">
      <a href="/auth/facebook" class="fa fa-facebook">Sign in with Facebook</a>
      <a href="/auth/google" class="fa fa-google">Sign in with Google</a>
  </div>

<% include partials/footer.ejs %>
